<!DOCTYPE html>
<html lang="en">
<body>
<style>
.badapple::before{
display: block;
white-space: pre;
font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;
font-variant-ligatures: none;
font-feature-settings: "liga" 0, "clig" 0;
font-kerning: normal;
letter-spacing: 0;
}
</style>
<span class="badapple">BAD_APPLE</span>
<audio preload="auto">
<source src="/bad_apple/bad-apple.ogg" type="audio/ogg">
</audio>
<style>
.badapple::before{
content: "Loading...";
}
</style>
