<!DOCTYPE html>
<html lang="en">
<body>
<span class="badapple">BAD_APPLE</span>
<audio autoplay muted controls style="display: block; margin-top: 10px;">
  <source src="/bad-apple.ogg" type="audio/ogg">
</audio>
</body>
<style>
.badapple::before{
display: block;
white-space: pre;
font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;
font-variant-ligatures: none;
font-feature-settings: "liga" 0, "clig" 0;
font-kerning: normal;
letter-spacing: 0;
}
</style>
